/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: gold;
}

body {
  background-color: rgb(15, 15, 15);
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: white;
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background: rgb(10, 10, 10);
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.1rem;
}

a {
  color: gold;
  text-decoration: none;
  text-decoration-color: gold;
}

a:hover {
  color: rgb(161, 137, 2);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(161, 137, 2);
}

.logo,
#web-logo {
  width: 250px;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: gold;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: rgb(15, 15, 15);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: gold;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__pic-container img {
  border-radius: 3rem;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.section__text__p2 {
  margin-top: 10px;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICON */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 500;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: gold 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover {
  background: rgb(40, 40, 40);
}

.btn-color-2 {
  background: gold;
  color: rgb(15, 15, 15);
}

.btn-color-2:hover {
  background: rgb(161, 137, 2);
  border: rgb(161, 137, 2);
}

.btn-color-1 {
  background: none;
}

.btn-container {
  gap: 1rem;
  margin-top: 40px;
  margin-bottom: 25px;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

#about .section__text__p1 {
  margin-top: 10vh;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  margin-top: -160px;
}

.about-containers,
.about-details-container {
  display: flex;
}

.title {
  margin-top: 5px;
  margin-bottom: 20px;
}

.about-pic {
  border-radius: 3rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(30, 30, 30);
  border-radius: 2rem;
  border: gold 0.1rem solid;
  border-color: gold;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

#experience .section__text__p1 {
  margin-top: 25vh;
}

.experience-sub-title {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

#projects p {
  margin-top: 20vh;
}

#projects h2 {
  margin-top: 70px;
  color: white;
}

#projects .details-container {
  border: none;
  background: none;
}

/* CONTACT SECTION */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

#contact a {
  color: white;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: gold 0.1rem solid;
  margin: 2rem auto;
  padding: 0.5rem;
  background: rgb(30, 30, 30);
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

#contact a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: grey;
}

#contact a {
  color: white;
  text-decoration: none;
  text-decoration-color: grey;
}

.email-icon {
  height: 2.5rem;
}

#contact #linkedin {
  margin-bottom: 3px;
}

/* FOOTER SECTION*/
footer {
  height: 26vh;
  background-color: rgb(10, 10, 10);
}

footer p {
  margin-top: 4vh;
  text-align: center;
}
